
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient( rgb(149, 149, 151), rgb(65, 57, 143), rgb(57, 37, 231));
}

h1 {
    color: rgb(27, 26, 26);
    
}
.calculator {
    background-color: #044077;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
}

#display {
    width: 100%;
    box-sizing: border-box;
    height: 70px;
    border: none;
    border-radius: 6px;
    background-color: #f3f2eb;
    text-align: right;
    font-size: 40px;
    margin-bottom: 16px;
}

.box-button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

button {
    border: none;
    height: 70px;
    border-radius: 6px;
    font-size: 50px;
    background-color: rgb(243, 199, 5);
    color: #3e07ac;
    
}

button:hover {
    background-color: rgb(151, 143, 105);
    color: #000;
    cursor: pointer;
    transition: 2s;
}

.btn-zero {
    grid-column: 1 / 3;
}

.btn-resultado {
    grid-row: 4 / 6;
    height: 100%;
    grid-column: 4;
}